@import "tailwindcss";

.floating-box {
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  animation: float linear infinite;
  will-change: transform;
  backdrop-filter: blur(2px);
}

@keyframes float {
  0% {
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
